/**
 * @description class-based list marker color rules for strict CSP mode
 */

.w-e-list-color-ewtzuf { color: rgb(0, 0, 0); }
.w-e-list-color-4xvty2 { color: rgb(38, 38, 38); }
.w-e-list-color-sqycuk { color: rgb(89, 89, 89); }
.w-e-list-color-3z8psd { color: rgb(140, 140, 140); }
.w-e-list-color-wksmh8 { color: rgb(191, 191, 191); }
.w-e-list-color-paasa7 { color: rgb(217, 217, 217); }
.w-e-list-color-6bm9m5 { color: rgb(233, 233, 233); }
.w-e-list-color-l91prz { color: rgb(245, 245, 245); }
.w-e-list-color-k3jp27 { color: rgb(250, 250, 250); }
.w-e-list-color-67tap4 { color: rgb(255, 255, 255); }
.w-e-list-color-tunwkj { color: rgb(225, 60, 57); }
.w-e-list-color-s85xre { color: rgb(231, 95, 51); }
.w-e-list-color-xx8cx7 { color: rgb(235, 144, 58); }
.w-e-list-color-8hp23z { color: rgb(245, 219, 77); }
.w-e-list-color-vbyzhj { color: rgb(114, 192, 64); }
.w-e-list-color-a0scch { color: rgb(89, 191, 192); }
.w-e-list-color-786vrv { color: rgb(66, 144, 247); }
.w-e-list-color-jztut9 { color: rgb(54, 88, 226); }
.w-e-list-color-wh1hr9 { color: rgb(106, 57, 201); }
.w-e-list-color-enuf5u { color: rgb(216, 68, 147); }
.w-e-list-color-ofga0e { color: rgb(251, 233, 230); }
.w-e-list-color-n2n1ob { color: rgb(252, 237, 225); }
.w-e-list-color-o0q9nf { color: rgb(252, 239, 212); }
.w-e-list-color-e2ltc0 { color: rgb(252, 251, 207); }
.w-e-list-color-sx4s4b { color: rgb(231, 246, 213); }
.w-e-list-color-t4t3jr { color: rgb(218, 244, 240); }
.w-e-list-color-j4jejh { color: rgb(217, 237, 250); }
.w-e-list-color-wb7pdv { color: rgb(224, 232, 250); }
.w-e-list-color-f3wgv5 { color: rgb(237, 225, 248); }
.w-e-list-color-omv2nm { color: rgb(246, 226, 234); }
.w-e-list-color-qn194t { color: rgb(255, 163, 158); }
.w-e-list-color-mdg9z8 { color: rgb(255, 187, 150); }
.w-e-list-color-hl8b9g { color: rgb(255, 213, 145); }
.w-e-list-color-4bm5ce { color: rgb(255, 251, 143); }
.w-e-list-color-xyf4ks { color: rgb(183, 235, 143); }
.w-e-list-color-wj8ykc { color: rgb(135, 232, 222); }
.w-e-list-color-9gfdr3 { color: rgb(145, 213, 255); }
.w-e-list-color-hsaivy { color: rgb(173, 198, 255); }
.w-e-list-color-v3pqyx { color: rgb(211, 173, 247); }
.w-e-list-color-5sw276 { color: rgb(255, 173, 210); }
.w-e-list-color-bsc56c { color: rgb(255, 77, 79); }
.w-e-list-color-qg254p { color: rgb(255, 122, 69); }
.w-e-list-color-sg36qp { color: rgb(255, 169, 64); }
.w-e-list-color-6556xy { color: rgb(255, 236, 61); }
.w-e-list-color-byp7re { color: rgb(115, 209, 61); }
.w-e-list-color-eyz4ng { color: rgb(54, 207, 201); }
.w-e-list-color-9xmyha { color: rgb(64, 169, 255); }
.w-e-list-color-g6x347 { color: rgb(89, 126, 247); }
.w-e-list-color-qkkoll { color: rgb(146, 84, 222); }
.w-e-list-color-4uljq8 { color: rgb(247, 89, 171); }
.w-e-list-color-2zmrji { color: rgb(207, 19, 34); }
.w-e-list-color-8epkxl { color: rgb(212, 56, 13); }
.w-e-list-color-6ff92a { color: rgb(212, 107, 8); }
.w-e-list-color-6j9t63 { color: rgb(212, 177, 6); }
.w-e-list-color-xsysfa { color: rgb(56, 158, 13); }
.w-e-list-color-qic72q { color: rgb(8, 151, 156); }
.w-e-list-color-oounuc { color: rgb(9, 109, 217); }
.w-e-list-color-dcs2ck { color: rgb(29, 57, 196); }
.w-e-list-color-nkq71x { color: rgb(83, 29, 171); }
.w-e-list-color-v640ve { color: rgb(196, 29, 127); }
.w-e-list-color-beewzy { color: rgb(130, 0, 20); }
.w-e-list-color-dsgatp { color: rgb(135, 20, 0); }
.w-e-list-color-du7iiy { color: rgb(135, 56, 0); }
.w-e-list-color-aoputq { color: rgb(97, 71, 0); }
.w-e-list-color-mkf87m { color: rgb(19, 82, 0); }
.w-e-list-color-l4iwsq { color: rgb(0, 71, 79); }
.w-e-list-color-p38mu9 { color: rgb(0, 58, 140); }
.w-e-list-color-z5ty33 { color: rgb(6, 17, 120); }
.w-e-list-color-6t1egh { color: rgb(34, 7, 94); }
.w-e-list-color-i6ncxa { color: rgb(120, 6, 80); }

