/**
 * @description class-based text style rules for strict CSP mode
 */

.w-e-color-ewtzuf { color: rgb(0, 0, 0); }
.w-e-color-4xvty2 { color: rgb(38, 38, 38); }
.w-e-color-sqycuk { color: rgb(89, 89, 89); }
.w-e-color-3z8psd { color: rgb(140, 140, 140); }
.w-e-color-wksmh8 { color: rgb(191, 191, 191); }
.w-e-color-paasa7 { color: rgb(217, 217, 217); }
.w-e-color-6bm9m5 { color: rgb(233, 233, 233); }
.w-e-color-l91prz { color: rgb(245, 245, 245); }
.w-e-color-k3jp27 { color: rgb(250, 250, 250); }
.w-e-color-67tap4 { color: rgb(255, 255, 255); }
.w-e-color-tunwkj { color: rgb(225, 60, 57); }
.w-e-color-s85xre { color: rgb(231, 95, 51); }
.w-e-color-xx8cx7 { color: rgb(235, 144, 58); }
.w-e-color-8hp23z { color: rgb(245, 219, 77); }
.w-e-color-vbyzhj { color: rgb(114, 192, 64); }
.w-e-color-a0scch { color: rgb(89, 191, 192); }
.w-e-color-786vrv { color: rgb(66, 144, 247); }
.w-e-color-jztut9 { color: rgb(54, 88, 226); }
.w-e-color-wh1hr9 { color: rgb(106, 57, 201); }
.w-e-color-enuf5u { color: rgb(216, 68, 147); }
.w-e-color-ofga0e { color: rgb(251, 233, 230); }
.w-e-color-n2n1ob { color: rgb(252, 237, 225); }
.w-e-color-o0q9nf { color: rgb(252, 239, 212); }
.w-e-color-e2ltc0 { color: rgb(252, 251, 207); }
.w-e-color-sx4s4b { color: rgb(231, 246, 213); }
.w-e-color-t4t3jr { color: rgb(218, 244, 240); }
.w-e-color-j4jejh { color: rgb(217, 237, 250); }
.w-e-color-wb7pdv { color: rgb(224, 232, 250); }
.w-e-color-f3wgv5 { color: rgb(237, 225, 248); }
.w-e-color-omv2nm { color: rgb(246, 226, 234); }
.w-e-color-qn194t { color: rgb(255, 163, 158); }
.w-e-color-mdg9z8 { color: rgb(255, 187, 150); }
.w-e-color-hl8b9g { color: rgb(255, 213, 145); }
.w-e-color-4bm5ce { color: rgb(255, 251, 143); }
.w-e-color-xyf4ks { color: rgb(183, 235, 143); }
.w-e-color-wj8ykc { color: rgb(135, 232, 222); }
.w-e-color-9gfdr3 { color: rgb(145, 213, 255); }
.w-e-color-hsaivy { color: rgb(173, 198, 255); }
.w-e-color-v3pqyx { color: rgb(211, 173, 247); }
.w-e-color-5sw276 { color: rgb(255, 173, 210); }
.w-e-color-bsc56c { color: rgb(255, 77, 79); }
.w-e-color-qg254p { color: rgb(255, 122, 69); }
.w-e-color-sg36qp { color: rgb(255, 169, 64); }
.w-e-color-6556xy { color: rgb(255, 236, 61); }
.w-e-color-byp7re { color: rgb(115, 209, 61); }
.w-e-color-eyz4ng { color: rgb(54, 207, 201); }
.w-e-color-9xmyha { color: rgb(64, 169, 255); }
.w-e-color-g6x347 { color: rgb(89, 126, 247); }
.w-e-color-qkkoll { color: rgb(146, 84, 222); }
.w-e-color-4uljq8 { color: rgb(247, 89, 171); }
.w-e-color-2zmrji { color: rgb(207, 19, 34); }
.w-e-color-8epkxl { color: rgb(212, 56, 13); }
.w-e-color-6ff92a { color: rgb(212, 107, 8); }
.w-e-color-6j9t63 { color: rgb(212, 177, 6); }
.w-e-color-xsysfa { color: rgb(56, 158, 13); }
.w-e-color-qic72q { color: rgb(8, 151, 156); }
.w-e-color-oounuc { color: rgb(9, 109, 217); }
.w-e-color-dcs2ck { color: rgb(29, 57, 196); }
.w-e-color-nkq71x { color: rgb(83, 29, 171); }
.w-e-color-v640ve { color: rgb(196, 29, 127); }
.w-e-color-beewzy { color: rgb(130, 0, 20); }
.w-e-color-dsgatp { color: rgb(135, 20, 0); }
.w-e-color-du7iiy { color: rgb(135, 56, 0); }
.w-e-color-aoputq { color: rgb(97, 71, 0); }
.w-e-color-mkf87m { color: rgb(19, 82, 0); }
.w-e-color-l4iwsq { color: rgb(0, 71, 79); }
.w-e-color-p38mu9 { color: rgb(0, 58, 140); }
.w-e-color-z5ty33 { color: rgb(6, 17, 120); }
.w-e-color-6t1egh { color: rgb(34, 7, 94); }
.w-e-color-i6ncxa { color: rgb(120, 6, 80); }

.w-e-bg-color-704qgs { background-color: rgb(0, 0, 0); }
.w-e-bg-color-fwpfd7 { background-color: rgb(38, 38, 38); }
.w-e-bg-color-477xa6 { background-color: rgb(89, 89, 89); }
.w-e-bg-color-nkdmaz { background-color: rgb(140, 140, 140); }
.w-e-bg-color-gndi0b { background-color: rgb(191, 191, 191); }
.w-e-bg-color-9cvnta { background-color: rgb(217, 217, 217); }
.w-e-bg-color-pwr64r { background-color: rgb(233, 233, 233); }
.w-e-bg-color-5bmlb2 { background-color: rgb(245, 245, 245); }
.w-e-bg-color-464kla { background-color: rgb(250, 250, 250); }
.w-e-bg-color-psy77q { background-color: rgb(255, 255, 255); }
.w-e-bg-color-eol2qk { background-color: rgb(225, 60, 57); }
.w-e-bg-color-d233xf { background-color: rgb(231, 95, 51); }
.w-e-bg-color-pe10xx { background-color: rgb(235, 144, 58); }
.w-e-bg-color-zh1r48 { background-color: rgb(245, 219, 77); }
.w-e-bg-color-msrni9 { background-color: rgb(114, 192, 64); }
.w-e-bg-color-1hl0d7 { background-color: rgb(89, 191, 192); }
.w-e-bg-color-y7jks4 { background-color: rgb(66, 144, 247); }
.w-e-bg-color-4tr0za { background-color: rgb(54, 88, 226); }
.w-e-bg-color-nxu5rz { background-color: rgb(106, 57, 201); }
.w-e-bg-color-64n36k { background-color: rgb(216, 68, 147); }
.w-e-bg-color-8i15jh { background-color: rgb(251, 233, 230); }
.w-e-bg-color-757x7e { background-color: rgb(252, 237, 225); }
.w-e-bg-color-83b56i { background-color: rgb(252, 239, 212); }
.w-e-bg-color-xnqpum { background-color: rgb(252, 251, 207); }
.w-e-bg-color-czpnne { background-color: rgb(231, 246, 213); }
.w-e-bg-color-d7dz2u { background-color: rgb(218, 244, 240); }
.w-e-bg-color-374a2k { background-color: rgb(217, 237, 250); }
.w-e-bg-color-gdskwy { background-color: rgb(224, 232, 250); }
.w-e-bg-color-yp1ddr { background-color: rgb(237, 225, 248); }
.w-e-bg-color-8pfy6p { background-color: rgb(246, 226, 234); }
.w-e-bg-color-apm4nw { background-color: rgb(255, 163, 158); }
.w-e-bg-color-6g15ib { background-color: rgb(255, 187, 150); }
.w-e-bg-color-1nt6sj { background-color: rgb(255, 213, 145); }
.w-e-bg-color-nwr1v0 { background-color: rgb(255, 251, 143); }
.w-e-bg-color-i1003v { background-color: rgb(183, 235, 143); }
.w-e-bg-color-gltu3f { background-color: rgb(135, 232, 222); }
.w-e-bg-color-t1ka9p { background-color: rgb(145, 213, 255); }
.w-e-bg-color-1uvef1 { background-color: rgb(173, 198, 255); }
.w-e-bg-color-f6ami0 { background-color: rgb(211, 173, 247); }
.w-e-bg-color-pe0yps { background-color: rgb(255, 173, 210); }
.w-e-bg-color-w4tcbw { background-color: rgb(255, 77, 79); }
.w-e-bg-color-hwut5f { background-color: rgb(255, 122, 69); }
.w-e-bg-color-jwvurf { background-color: rgb(255, 169, 64); }
.w-e-bg-color-x4hvy7 { background-color: rgb(255, 236, 61); }
.w-e-bg-color-3fhvs4 { background-color: rgb(115, 209, 61); }
.w-e-bg-color-6frso6 { background-color: rgb(54, 207, 201); }
.w-e-bg-color-1efmi0 { background-color: rgb(64, 169, 255); }
.w-e-bg-color-7npr4x { background-color: rgb(89, 126, 247); }
.w-e-bg-color-i1dcmb { background-color: rgb(146, 84, 222); }
.w-e-bg-color-vty8qh { background-color: rgb(247, 89, 171); }
.w-e-bg-color-nc3yp2 { background-color: rgb(207, 19, 34); }
.w-e-bg-color-sr6s35 { background-color: rgb(212, 56, 13); }
.w-e-bg-color-qrwg7u { background-color: rgb(212, 107, 8); }
.w-e-bg-color-qvr0bn { background-color: rgb(212, 177, 6); }
.w-e-bg-color-imvylb { background-color: rgb(56, 158, 13); }
.w-e-bg-color-bc9d8r { background-color: rgb(8, 151, 156); }
.w-e-bg-color-9iru0d { background-color: rgb(9, 109, 217); }
.w-e-bg-color-xp99i4 { background-color: rgb(29, 57, 196); }
.w-e-bg-color-8end7y { background-color: rgb(83, 29, 171); }
.w-e-bg-color-mmwow4 { background-color: rgb(196, 29, 127); }
.w-e-bg-color-md8if3 { background-color: rgb(130, 0, 20); }
.w-e-bg-color-or9w8u { background-color: rgb(135, 20, 0); }
.w-e-bg-color-ot13y3 { background-color: rgb(135, 56, 0); }
.w-e-bg-color-b1gcxp { background-color: rgb(97, 71, 0); }
.w-e-bg-color-mx5qbl { background-color: rgb(19, 82, 0); }
.w-e-bg-color-lh9ewp { background-color: rgb(0, 71, 79); }
.w-e-bg-color-ji79v { background-color: rgb(0, 58, 140); }
.w-e-bg-color-am3iip { background-color: rgb(6, 17, 120); }
.w-e-bg-color-75rwkg { background-color: rgb(34, 7, 94); }
.w-e-bg-color-t5gycf { background-color: rgb(120, 6, 80); }

.w-e-font-size-okzesi { font-size: 12px; }
.w-e-font-size-okzfj7 { font-size: 13px; }
.w-e-font-size-okzg9w { font-size: 14px; }
.w-e-font-size-okzh0l { font-size: 15px; }
.w-e-font-size-okzhra { font-size: 16px; }
.w-e-font-size-okzjzd { font-size: 19px; }
.w-e-font-size-ol01s1 { font-size: 22px; }
.w-e-font-size-ol039f { font-size: 24px; }
.w-e-font-size-ol06yw { font-size: 29px; }
.w-e-font-size-ol0ork { font-size: 32px; }
.w-e-font-size-ol1a9p { font-size: 40px; }
.w-e-font-size-ol1g79 { font-size: 48px; }

.w-e-font-family-u0ju81 { font-family: "黑体"; }
.w-e-font-family-u06buz { font-family: "仿宋"; }
.w-e-font-family-u0ariz { font-family: "楷体"; }
.w-e-font-family-6uqaji { font-family: "标楷体"; }
.w-e-font-family-w9792n { font-family: "华文仿宋"; }
.w-e-font-family-w9boqn { font-family: "华文楷体"; }
.w-e-font-family-u08e9z { font-family: "宋体"; }
.w-e-font-family-xzvn93 { font-family: "微软雅黑"; }
.w-e-font-family-nbqzij { font-family: Arial; }
.w-e-font-family-ljm044 { font-family: Tahoma; }
.w-e-font-family-ohnbdm { font-family: Verdana; }
.w-e-font-family-hmdqt { font-family: "Times New Roman"; }
.w-e-font-family-qur2ze { font-family: "Courier New"; }

.w-e-text-align-g1w4xb { text-align: left; }
.w-e-text-align-8k65m7 { text-align: center; }
.w-e-text-align-i96wy { text-align: right; }
.w-e-text-align-klzjuo { text-align: justify; }

.w-e-line-height-11is3t { line-height: 1; }
.w-e-line-height-9qd9zn { line-height: 1.15; }
.w-e-line-height-76rj3g { line-height: 1.5; }
.w-e-line-height-11is3u { line-height: 2; }
.w-e-line-height-76rju5 { line-height: 2.5; }
.w-e-line-height-11is3v { line-height: 3; }

.w-e-indent-d1l1vd { text-indent: 2em; }
.w-e-indent-dozaza { text-indent: 24px; }
.w-e-indent-dozcgo { text-indent: 26px; }
.w-e-indent-dozdy2 { text-indent: 28px; }
.w-e-indent-dozv01 { text-indent: 30px; }
.w-e-indent-dozwhf { text-indent: 32px; }
.w-e-indent-dp00xl { text-indent: 38px; }
.w-e-indent-dp0kyc { text-indent: 44px; }
.w-e-indent-dp0nx4 { text-indent: 48px; }
.w-e-indent-dp1awn { text-indent: 58px; }
.w-e-indent-dp1uxe { text-indent: 64px; }
.w-e-indent-dp31xo { text-indent: 80px; }
.w-e-indent-dp3tdd { text-indent: 96px; }

